@import "tailwindcss";
/* src/app/globals.css */

/* subtle box-shadow utility used in layout */
.shadow-subtle {
  box-shadow: 0 6px 18px rgba(149, 7, 244, 0.06);
}

/* font smoothing etc */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
